body {
  margin: 0;
  background-repeat: no-repeat; 
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  user-select: none;
  pointer-events: none;
}

.NavbarLogo {
  height: 10vh;
}

.profileLogo {
  float: right;
  height: 5vh;
  border-radius: 50%;
  display: block;
}

.Navbar{
  background-color: #222222;
  height: 10vh;
  display: flex;
  align-items: center;
} 

.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Nav li {
  float: left;
}

.Nav li a {
  user-select: none;
  display: block;
  color: #497fab;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 25px;
}

.Nav li a:hover {
  background-color: #141414;
}

.profile{
  position: absolute; 
  right: 10%;
}

.ContentBox {
  width:50%;
  height: 90vh;
  margin: 0 25%;
  position: fixed;
  background-color: #141414;
}

.text {
  margin: 20% 20% 0 20%;
  color: #497fab;
}

.btn {
  height: 3vh;
  display: inline-flex;
  align-items: center;
  font-size: medium;
}

.btn:hover {
  background-color: #222222;
}

.googleLogo{
  height: 3vh;
}

textarea::placeholder {
  user-select: none;
}